@using Lanry.DataAccess;
@using Lanry.Model;
@{
    ViewBag.Title = "主页";
    var Record = Model;
}
<h2>@ViewBag.Message</h2>
<p>
    若要了解有关 ASP.NET MVC 的更多信息，请访问 <a href="http://asp.net/mvc" title="ASP.NET MVC 网站">http://asp.net/mvc</a>。
</p>
<table id="tb1">
    <tr>
        <td>
            ID
        </td>
        <td>
            Name
        </td>
        <td>
            ParentID
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.ParentID
            </td>
        </tr>
    }
</table>
