<?xml  version="1.0" encoding="utf-8"?>
<configuration>
  <dbInfos>
    <dbInfo name="Localhost" provider="SqlServer2005" connString="server=192.168.1.102;database=TestDB;uid=sa;pwd=123"/>
    <dbInfo name="MtimeSchedule" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeSchedule;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeTicket" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeTicketNew;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeCinema" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeCinema;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeFeed" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeFeed;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeGroup" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeGroup;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeGame" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeGame;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeWap" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeWap;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeStat" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeStat;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeDvd" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeDVD;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeEvents" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeEvents;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeCMS" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeCMS;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeTweet" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeTweet;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MtimeAward" provider="SqlServer2005" connString="server=192.168.1.29\MTIMESQLSERVER;database=MtimeAward;uid=mtimeuser;pwd=mtimeuser0301"/>
    <dbInfo name="MongoDev" provider="Mongo" connString="server=192.168.1.57;port=27017"/>
    <dbInfo name="MongoFeature" provider="Mongo" connString="server=192.168.1.57;port=27017"/>
  </dbInfos>
  <dbMapping>
    <mapping Name="SqlServer2005" AssemblyName="Lanry.DataAccess" TypeName="SqlServerProvider"></mapping>
  </dbMapping>
</configuration>
